<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js"></script>
    <title>Groupie-Tracker</title>
    <link rel="stylesheet" href="static/css/globalStyles.css">
    <link rel="stylesheet" href="static/css/homeStyle.css">
</head>

<body>
    <center>
        <div class="heading">
            <h1 class="logo">𝔊𝔯𝔬𝔲𝔭𝔦𝔢-𝔗𝔯𝔞𝔠𝔨𝔢𝔯</h1>
            <input type="text" id="search" placeholder="Type to search..." />
            <button class="button1" id="filter_btn">Show Filters</button>
        </div>
        <div>
            <div id="suggestions"></div>
        </div>
        <div id="overlayer"></div>

        <div id="popup" class="popup">
             <div class="filter">
                <h3>Filter</h3>
                <div>
                    <strong>Creation Date: </strong>
                    <span id="minValueCreation"></span> - <span id="maxValueCreation"></span>
                    <div class="slider-styled" id="creationDateRange"></div>
                </div>
                <div>
                    <strong>First Album: </strong>
                    <span id="minValueAlbum"></span> - <span id="maxValueAlbum"></span>
                    <div class="slider-styled" id="firstAlbumRange"></div>
                </div>
                <div>
                    <strong>Number of Members</strong> <br>
                    <div id="membersCountFilter"></div>
                </div>
                
                <div>
                    <strong>Locations</strong> <br>
                    <select id="locationsFilter">
                        <option value="All" selected>All</option>
                    </select>
                </div>
                <div>
                    <button class="button2" onclick="reset()">Reset</button>
                </div>
            </div>
        </div>

        <div class="container">
            {{range .}}
            <div class="card">
                <a href="/Artists?id={{.ID}}">
                    <img src="{{.Image}}" alt="{{.Name}}" class="image" />
                    <h3>{{.Name}}</h3>
                </a>
            </div>
            {{end}}
        </div>
    </center>

    <script type="application/json" id="artistData">{{.}}</script>
    <script src="../static/js/script.js"></script>
</body>

</html>